body {
   background: scroll;
   background-color: rgb(137, 101, 101);
}

.hmeList {
   text-align: center;
}

.inGred {
   color: rgb(35, 73, 104);
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;
   background-color: rgb(171, 205, 235);
   text-align: left;
   text-indent: 12px;
}

.method {
   text-align: left;
   background-color: rgb(89, 103, 103);
}

.desc {
   background-color: rgb(185, 142, 142);
   font-size: 18px;
   text-align: center;
}

.desc .times {
   background-color: rgb(223, 170, 167);
   font-weight: bold;
}

ul, ol {
   list-style-position: inside;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   
}

h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}

